@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, rgba(40, 22, 139, 0.884), purple);
}

.box {
    background: #fff;
    height: 150px;
    max-height: 300px;
    width: 350px;
    border-radius: 8px;
}

.box h1 {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
}

.task {
    background: #000;
    padding: 10px 30px;
    position: relative;
}

.task input {
    
}

.task button {
    content: "";
    position: absolute;
}